In [1]:
import pandas as pd

listingDt = pd.read_csv('./listingDict.csv', names = 
 ['house_id',
 'title', 
'address',
'latitude', 
'longtitude', 
'checkin_rating',
'clean_rating',
'comm_rating',
'satis_overall',
'bathroom_type',
'bed_type',
'bedroom_type',
'guest_type',
'host_id',
'host_name'
])

listingDt = listingDt.loc[listingDt['address'] == 'College Park, Maryland, United States',]
listingDt['host_id'] = listingDt['host_id'].apply(lambda x: int(x))
listingDt.reset_index(drop=True,inplace=True)
listingDt['checkin_rating'].fillna(round(listingDt['checkin_rating'].mean(), 2), inplace=True)
listingDt['clean_rating'].fillna(round(listingDt['clean_rating'].mean(), 2), inplace=True)
listingDt['comm_rating'].fillna(round(listingDt['comm_rating'].mean(), 2), inplace=True)
listingDt['satis_overall'].fillna(round(listingDt['satis_overall'].mean(),2), inplace=True)
listingDt.drop_duplicates(inplace=True)
listingDt.to_csv('./cleaned/listingDt.csv', index = False)
listingDt

,house_id,title,address,latitude,longtitude,checkin_rating,clean_rating,comm_rating,satis_overall,bathroom_type,bed_type,bedroom_type,guest_type,host_id,host_name
0,28390867,9114 College Park Guest House Room C,"College Park, Maryland, United States",39.00678,-76.94728,10.00,10.00,10.00,99.00,1 shared bath,1 bed,1 bedroom,1 guest,190467421,Jacob
1,34154225,Private Cozy Home,"College Park, Maryland, United States",38.98553,-76.91516,10.00,9.00,10.00,97.00,1 bath,1 bed,1 bedroom,1 guest,257869877,Derick
2,28388703,9114 College Park Guest House Room B,"College Park, Maryland, United States",39.00472,-76.94873,10.00,10.00,10.00,98.00,1 shared bath,1 bed,1 bedroom,1 guest,190467421,Jacob
3,52864667,Welcoming from Ruth 311 Inspirations LLC,"College Park, Maryland, United States",39.01055,-76.92268,9.67,8.56,9.78,93.44,1 private bath,2 beds,1 bedroom,4 guests,428015608,Doulay
5,27075470,9114 College Park Guest House Room A,"College Park, Maryland, United States",39.00657,-76.94839,10.00,10.00,10.00,99.00,2.5 shared baths,1 bed,1 bedroom,1 guest,190467421,Jacob
7,39693647,Rare Pvt Entrance 1-br Apt mins from UMD & Metro,"College Park, Maryland, United States",38.97663,-76.93279,10.00,9.00,10.00,100.00,1 bath,2 beds,1 bedroom,4 guests,6050234,Russi
8,35109164,"College Park, Maryland Great Bed Room","College Park, Maryland, United States",39.00015,-76.94946,10.00,2.00,10.00,80.00,1 shared bath,1 bed,1 bedroom,1 guest,210150211,Magnetic
9,2723711,College Park Condo near Univ of Maryland (1 mo...,"College Park, Maryland, United States",38.99697,-76.93076,8.00,8.00,8.00,83.00,1 bath,2 beds,1 bedroom,4 guests,17633,Charlotte
10,35266555,Exquisite 2 bed/1 bathroom condo-Walk to Metro,"College Park, Maryland, United States",38.97124,-76.95380,9.00,9.00,10.00,86.00,1 bath,3 beds,2 bedrooms,6 guests,10332804,Wande
11,50895514,Master Bedroom-Brand New House (Rooftop Level),"College Park, Maryland, United States",39.00186,-76.92849,9.67,8.56,9.78,93.44,1 private bath,1 bed,1 bedroom,1 guest,168374774,Edgar
12,33244506,Luxury College Park Twin Bed with Desk,"College Park, Maryland, United States",39.00996,-76.95126,9.67,8.56,9.78,93.44,1 shared bath,1 bed,1 bedroom,1 guest,62910704,Ebony

In [2]:
hostDt = pd.read_csv('./hostDt.csv', names = 
    ['host_id',
    'first_name',
    'location',
    'join_date',
    'about',
    'identity_verified', 
    'picture_url'])

hostDt['host_id'] = hostDt['host_id'].apply(lambda x: int(x))
hostDt['identity_verified'] = hostDt['identity_verified'].apply(lambda x: int(x))
hostDt = hostDt[hostDt['host_id'].isin(listingDt['host_id'])]
hostDt.drop_duplicates(inplace=True)
hostDt.reset_index(drop=True,inplace=True)
hostDt.to_csv('./cleaned/hostDt.csv', index = False)
hostDt

,host_id,first_name,location,join_date,about,identity_verified,picture_url
0,190467421,Jacob,"College Park, MD",2018-05-19,NaN,0,https://a0.muscache.com/im/pictures/user/37a76...
1,257869877,Derick,"College Park, MD",2019-04-25,Am renting the basement of the house furnished...,1,https://a0.muscache.com/im/pictures/user/00c06...
2,428015608,Doulay,"Berwyn Heights, MD",2021-10-19,I am a lover of servitude for people and get a...,1,https://a0.muscache.com/im/pictures/user/1f3f9...
3,6050234,Russi,"New York, NY",2013-04-23,Hello and welcome to my tranquil Westchester h...,1,https://a0.muscache.com/im/users/6050234/profi...
4,210150211,Magnetic,United States,2018-08-17,NaN,0,https://a0.muscache.com/im/pictures/user/43e22...
5,17633,Charlotte,"Washington, DC",2009-05-18,"My business is LUXbnb, we offer short-stay fur...",1,https://a0.muscache.com/im/pictures/user/ec9e0...
6,10332804,Wande,"Washington, DC",2013-11-29,I'm a MD resident and have been in this busine...,0,https://a0.muscache.com/im/users/10332804/prof...
7,168374774,Edgar,"Fort Lauderdale, FL",2018-01-17,"Hi, I'm Edgar! I love to travel and going to t...",1,https://a0.muscache.com/im/pictures/user/a4a82...
8,62910704,Ebony,"Silver Spring, MD",2016-03-14,NaN,1,https://a0.muscache.com/im/pictures/user/6c00a...

In [7]:
reviewDt = pd.read_csv('./reviewDt.csv')
reviewDt = reviewDt[reviewDt['house_id'].isin(listingDt['house_id'])]
reviewDt = reviewDt[reviewDt['reviewer_id'].isin(reviewerDt['reviewer_id'])]
reviewDt.drop_duplicates(inplace=True)
reviewDt.reset_index(drop=True,inplace=True)
reviewDt.to_csv('./cleaned/reviewDt.csv', index = False)
reviewDt

,review_id,reviewer_id,house_id,comments,review_rating,host_name,review_time,reviewer_name
0,433312172839265112,61159267,28390867,Jacob and Esther are gracious and friendly hos...,5.0,Chris,2021-08-20,Chris
1,428933132754393272,309953887,28390867,Where can I even begin? I had the privilege of...,5.0,Brendan,2021-08-14,Brendan
2,761065431,309949657,28390867,"Great location for UMD, Super hospitable hosts...",5.0,Steve,2021-05-22,Steve
3,757386770,366398918,28390867,"The instructions were accurate to the T, the r...",5.0,Aashli,2021-05-11,Aashli
4,753028997,362211507,28390867,"Quiet and safe neighborhood, wonderful hospita...",5.0,Jazmyn,2021-04-29,Jazmyn
...,...,...,...,...,...,...,...,...
128,562186855,221216324,35266555,Great,5.0,Manuel,2019-11-10,Manuel
129,558960018,50847527,35266555,"This place was adequate for our needs, as it w...",3.0,Anna,2019-11-03,Anna
130,545549269,113391911,35266555,"Nice space, easy check-in, close to U of Maryl...",5.0,Merinda,2019-10-12,Merinda
131,488842323,89723765,35266555,Wande's listing suited the needs of our stay i...,4.0,Randell,2019-07-15,Randell
132,476650785,125546304,35266555,Really enjoyed our stay. Would highly recommen...,5.0,Si,2019-06-26,Si

In [8]:
reviewerDt = pd.read_csv('./reviewerDt.csv')

reviewerDt['identity_verified'] = reviewerDt['identity_verified'].apply(lambda x: int(x))
reviewerDt['reviewer_id'] = reviewerDt['reviewer_id'].apply(lambda x: int(x))
reviewerDt = reviewerDt[reviewerDt['reviewer_id'].isin(reviewDt['reviewer_id'])]
reviewerDt.drop_duplicates(inplace=True)
reviewerDt.reset_index(drop=True,inplace=True)
reviewerDt.to_csv('./cleaned/reviewerDt.csv', index = False)
reviewerDt

,reviewer_id,first_name,location,join_date,about,identity_verified,picture_url
0,61159267,Chris,"Lake in the Hills, IL",2016-03-02,NaN,0,https://a0.muscache.com/im/pictures/user/6cb6f...
1,309953887,Brendan,"East Lansing, MI",2019-11-16,NaN,1,https://a0.muscache.com/im/pictures/user/bfd10...
2,309949657,Steve,"Gaithersburg, MD",2019-11-16,NaN,1,https://a0.muscache.com/im/pictures/user/4486f...
3,366398918,Aashli,"Berwyn Heights, MD",2020-09-07,NaN,1,https://a0.muscache.com/im/pictures/user/566d3...
4,362211507,Jazmyn,"Honolulu, HI",2020-08-13,NaN,1,https://a0.muscache.com/im/pictures/user/5ac38...
...,...,...,...,...,...,...,...
106,221216324,Manuel,"La Barca, Mexico",2018-10-17,Médico internista en formación,0,https://a0.muscache.com/im/pictures/user/d625a...
107,50847527,Anna,"South Bend, IN",2015-12-08,NaN,1,https://a0.muscache.com/im/pictures/user/14425...
108,113391911,Merinda,"Tuscaloosa, AL",2017-01-26,NaN,1,https://a0.muscache.com/im/pictures/user/2f6fb...
109,89723765,Randell,"Merced, CA",2016-08-13,NaN,1,https://a0.muscache.com/im/pictures/user/68d90...
110,125546304,Si,"Deerfield, IL",2017-04-12,NaN,1,https://a0.muscache.com/im/pictures/user/1264b...

In [5]:
priceDt = pd.read_csv('./priceDt.csv', names = ['Date','houseId','price'])
priceDt = priceDt[['houseId','Date','price']]
priceDt = priceDt[priceDt['houseId'].isin(listingDt['house_id'])]
priceDt.reset_index(drop=True,inplace=True)
priceDt.to_csv('./cleaned/priceDt.csv', index = False)
priceDt

     houseId        Date  price
0   28390867  2021-11-23     35
1   28390867  2021-11-24     35
2   28390867  2021-11-25     35
3   34154225  2021-11-23     38
4   34154225  2021-11-24     38
5   34154225  2021-11-25     38
6   28388703  2021-11-23     35
7   28388703  2021-11-24     35
8   28388703  2021-11-25     35
9   52864667  2021-11-23     47
10  52864667  2021-11-24     47
11  52864667  2021-11-25     47
12  27075470  2021-11-23     40
13  27075470  2021-11-24     40
14  27075470  2021-11-25     40
15  39693647  2021-11-23     60
16  39693647  2021-11-24     60
17  39693647  2021-11-25     60
18  35109164  2021-11-23     28
19  35109164  2021-11-24     28
20  35109164  2021-11-25     28
21   2723711  2021-11-23     71
22   2723711  2021-11-24     71
23   2723711  2021-11-25     71
24  35266555  2021-11-23    139
25  35266555  2021-11-24    139
26  35266555  2021-11-25    139
27  50895514  2021-11-23     49
28  50895514  2021-11-24     49
29  50895514  2021-11-25     49
30  33244506  2021-11-23     25
31  33244506  2021-11-24     25
32  33244506  2021-11-25     25